*{
    margin: 0;
    padding: 0;
    border: 0;
    
    }

body { 
    margin: auto;
    padding: auto;

    button{ 
        background-color: rgb(91, 110, 122);
        border-radius: 20px;
        padding: 1em;
        margin: 3em;
        color:aliceblue;
    }

    input{

    }
}